@import "./Variables.scss";

@import "./Slider.scss";

.account_login__menu{
  display: none;
}
.account_login__menu--opened{
  position: fixed;
  box-shadow: 0px 0px 0px 100vw rgba(215, 215, 215, 0.68);
  width: 320px;
  height: 258px;
  z-index: 99;
  margin-top: 50px;
  border: #B8B8B8 solid 1px;
  background: linear-gradient(90deg, rgb(160, 212, 255), rgb(255, 255, 255));
}
.account_login__rect{
  display: flex;
  width: 160px;
  height: 36px;
  background: none;
  border: #B8B8B8 solid 1px;
  margin: -1px;
  border-radius:0 0 12px 12px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: "Abel";
  color: rgba($color: #000000, $alpha: 0.68);
}
.account_login__rect2{
  display: flex;
  width: 159px;
  height: 36px;
  background: none;
  border: #B8B8B8 solid 1px;
  margin:-38px 0 0 160px;
  border-radius:0 0 12px 12px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: "Abel";
  color: rgba($color: #000000, $alpha: 0.68);
}
.input_field{
  display: flex;
  background: white;
  border: rgba($color: #000000, $alpha: 0.26) solid 1px;
  border-radius: 3px;
  width: 93px;
  height: 23px;
  font-size: 8px;
  font-family: "Abel";
  color: rgba($color: #000000, $alpha: 0.63);
  align-items: center;
  padding-left: 5px;
  margin: 14px 0 0 17px ;
}
.input__botton{
  display: flex;
  color: white;
  font-size: 10px;
  font-family: "Abel";
  background: linear-gradient(90deg, rgb(51, 255, 33), rgb(59, 128, 192));
  width: 93px;
  height: 23px;
  margin: 9px 0 0 17px;
  border-radius: 5px;
  border: rgba($color: #000000, $alpha: 0.17) solid 1px;
  align-items: center;
  justify-content: center;
}
.seporation{
  position: absolute;
  height: 56px;
  width: 1px;
  background: #B8B8B8;
  margin: -119px 0 0 160px;
}
.seporation--text{
  font-size: 7px;
  font-family: "Abel";
  margin-left: 155px;
  margin-top: -60px;
  width: 14px;
  height: 8px;
}
.seporation2{
  position: absolute;
  height: 56px;
  width: 1px;
  background: #B8B8B8;
  margin-left: 160px;
  margin-top: 1px;
}
.account_login__rect--registr{
  display: flex;
  background: white;
  border: rgba($color: #000000, $alpha: 0.26) solid 1px;
  border-radius: 3px;
  width: 93px;
  height: 17px;
  font-size: 8px;
  font-family: "Abel";
  color: rgba($color: #000000, $alpha: 0.63);
  align-items: center;
  padding-left: 5px;
  margin: -44px 0 0 194px ;
}
.account_login__rect--registr2{
  display: flex;
  background: white;
  border: rgba($color: #000000, $alpha: 0.26) solid 1px;
  border-radius: 3px;
  width: 93px;
  height: 17px;
  font-size: 8px;
  font-family: "Abel";
  color: rgba($color: #000000, $alpha: 0.63);
  align-items: center;
  padding-left: 5px;
  margin: 4px 0 0 194px ;
}
.account_login__rect--registr3{
  display: flex;
  background: white;
  border: rgba($color: #000000, $alpha: 0.26) solid 1px;
  border-radius: 3px;
  width: 93px;
  height: 17px;
  font-size: 8px;
  font-family: "Abel";
  color: rgba($color: #000000, $alpha: 0.63);
  align-items: center;
  padding-left: 5px;
  margin: 4px 0 0 194px ;
}
.account_login__bottom--registr{
  display: flex;
  color: white;
  font-size: 10px;
  font-family: "Abel";
  background: linear-gradient(90deg, rgb(51, 255, 33), rgb(59, 128, 192));
  max-width: 93px;
  max-height: 23px;
  width: 93px;
  height: 23px;
  margin: 7px 0 0 194px;
  border-radius: 5px;
  border: rgba($color: #000000, $alpha: 0.17) solid 1px;
  align-items: center;
  justify-content: center;
}
.account-registr__check_mark{
  display: flex;
  margin: 18px 0 0 24px;
}
.account-registr__check_mark{
  width: 10px;
  height: 10px;
}
.account-registr__check_mark--text{
  display: block;
  width: 266px;
  height: auto;
  font-size: 7px;
  font-family: "Abel";
  color: black;
  margin-left: 39px;
  margin-top: -10px;
}
.account__seporation{
  display: flex;
  width: 320px;
  height: 1px;
  background-color: rgba($color: #000000, $alpha: 0.26);
  margin-top: 8px;
}
.gosUslugi__login{
  display: flex;
  width: 169px;
  height: 36px;
  align-items: center;
  justify-content: center;
  background: white;
  border: solid 1px;
  border-color: rgba($color: #000000, $alpha: 0.26);
  border-radius: 3px;
  margin:11px 0 0 76px;
}
.head__conteiner {
  display: flex;
  background: #f1f3f7;
  width: 100%;
  height: 31px;
  align-items: center;
  justify-content: flex-end;
}
.head__search {
  display: flex;
  width: 163px;
  height: 24px;
  background: linear-gradient(
    90deg,
    rgba(51, 255, 33, 0.33) 0%,
    rgba(59, 192, 138, 0.33) 100%
  );
  border-radius: 5px;
  margin: 0 4px 0 4px;
  align-items: center;
  justify-content: center;
}
.head__search_2 {
  display: flex;
  min-width: 161px;
  height: 22px;
  background-color: white;
  border-radius: 5px;
}
.head__Lupa {
  display: flex;
}
.header {
  background: white;
  display: flex;
  width: 100%;
  height: 45px;
  box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.2);
}
.header__rectangle {
  background: white;
  display: flex;
  width: 100%;
  height: 42px;
  box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.2);
  justify-content: space-between;
  align-items: center;
}
.context_menu{
  display: none;
}
.context_menu--opened{
  display: flex;
  position: absolute;
  margin: 50px 0 0 170px;
  background-color: white;
  z-index: 2;
  width: 117px;
  height: 88px;
  border-radius: 5px;
  border: 1px solid;
  border-color: rgba($color: #000000, $alpha: 0.3);
}
.context_menu--button{
  display: flex;
  border: none;
  background: none;
  padding: 0;
  align-items: center;
}
.context_menu--list{
  display: flex;
  list-style: none;
  flex-direction: column;
  margin: 0;
  font-size: 10px;
  width: auto;
  height: 82px;
  row-gap: 7px;
  padding: 3px;
  font-family: "Abel";
}
.context_menu--element{
  display: flex;
  align-items: center;
}
.context_menu_exit{
  display: flex;
  align-items: center;
}
.context_menu--img{
  width: 13px;
  height: auto;
}
.header__logo {
  display: flex;
  margin-left: 11px;
}
.header__account--conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Abel";
  color: #006fff;
  font-size: 14px;
}
.header__account--button {
  background: white;
  border: none;
  justify-content: center;
  align-items: center;
}
.header__account {
  background: white;
  border: none;
  justify-content: center;
  align-items: center;
  font-family: "Abel";
  color: #006fff;
}
.header__zapis--conteiner {
  display: flex;
  background-color: white;
  width: 100%;
  height: 59px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 11px 15px -2px rgba(34, 60, 80, 0.2);
  font-size: 10px;
  font-family: "Abel";
  color: #00A3FF;
}
.header__online_appointment {
  width: 124px;
  height: 29px;
  border: none;
  border-radius: 17px;
  background: linear-gradient(180deg, rgb(12, 102, 156), rgb(59, 194, 145));
  font-family: "Abel";
  font-size: 10px;
  color: white;
  margin-left: 10px;
}
.header__img--logos{
    width: 32px;
    height: 32px;
}
.header__socnet{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Abel";
  font-size: 10px;
  width: 160px;
  margin: 0 10px 0 0;
}

.Doctor-info{
  display: flex;
  width: 100%;
  height: 467px;
  background-color: #F1F8FF;
}
.Online-appointment{
  background: linear-gradient(180deg, rgb(12, 70, 156), rgb(59, 194, 121));
  width: 100%;
  height: 535px;
}
.Online-appointment--text{
  padding: 31px 0 0 19px;
  color: white;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 29px;
  margin-top: 0;
}
.Online-appointment--text1{
  font-size: 24px;
}
.Make_an_appointment{
background-color: white;
display: flex;
width: 293px;
height: 192px;
margin-left: 19px;
border-radius: 20px;
justify-content: center;
align-items: center;
}
.Make_an_appointment--rectangle{
background-color: white;
display: flex;
width: 273px;
height: 180px;
border-radius: 20px;
box-shadow: 0px 2px 10px 0px rgba(78, 127, 222, 0.2);
}
.Make_an_appointment--form{
  list-style: none;
}
.forma{
  margin: 8px 0 0 19px;
}
.Appointment{
  color: #1B1D32;
  font-size: 16px;
}
.name_and_phone{
  display: flex;
  justify-content: space-between;
  width: 234px;
  height: auto;
  margin-top: 12px;
}
.name{
  color: #7E83AE;
  font-size: 10px;
  border-radius: 6px;
  display: flex;
  width: 112px;
  height: 24px;
  background:rgba($color: #C9D2EA, $alpha: 0.1);
  align-items: center;
  padding-left: 9px;
  box-shadow: 0px 4px 4px 0px rgba(201, 210, 234, 0.29) inset;
}
.Phone{
  color: #7E83AE;
  font-size: 10px;
  border-radius: 6px;
  margin: 0 0 0 10px;
  display: flex;
  width: 112px;
  height: 24px;
  background:rgba($color: #C9D2EA, $alpha: 0.1);
  align-items: center;
  padding-left: 9px;
  box-shadow: 0px 4px 4px 0px rgba(201, 210, 234, 0.29) inset;
}

.service{
  color: #7E83AE;
  font-size: 10px;
  border-radius: 6px;
  display: flex;
  width: 227px;
  margin-top: 12px;
  height: 24px;
  background:rgba($color: #C9D2EA, $alpha: 0.1);
  align-items: center;
  padding-left: 9px;
  box-shadow: 0px 4px 4px 0px rgba(201, 210, 234, 0.29) inset;
}
.data_and_button{
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  width: 234px;
  height: auto;
  margin-top: 12px;
}
.date{
  color: #7E83AE;
  border-radius: 6px;
  display: flex;
  width: 103px;
  max-width: 112px;
  height: 24px;
  background:rgba($color: #C9D2EA, $alpha: 0.1);
  align-items: center;
  padding-left: 9px;
  box-shadow: 0px 4px 4px 0px rgba(201, 210, 234, 0.29) inset;
}
.button--sign_up{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-family: "Abhaya Libre";
  width: 113px;
  height: 24px;
  border: none;
  border-radius: 17px;
  color: white;
  background: linear-gradient(90deg, rgb(12, 102, 156), rgb(59, 186, 194));
  box-shadow: 0px 8px 10px 0px rgba(2, 142, 206, 0.32);
}
.data_and_button{
  display: flex;
  justify-content: space-between;
  width: 234px;
  height: auto;
  
}
.Agreement{
  color: #7E83AE;
  font-size: 7px;
  margin-top: 11px;
}
.retings{
  font-size: 30px;
  font-family: "Abhaya Libre";
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  margin-top: 45px;
  width: 100%;
  height: 425px;
  align-items: center;
  justify-content: center;
}
.retings__text{
  padding: 0 0 20px 0 ;
}
.basement{
  width: 100%;
  height: 279px;
  background: linear-gradient(180deg, rgb(59, 125, 185), rgb(20, 108, 98));
}
.basement__text--all{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding: 0%;
}
.basement__text{
  display: flex;
  color: white;
  flex-direction: column;
  row-gap: 15px;
  font-size: 15px;
  font-family: "Abel";
  list-style: none;
  padding: 0%;
  padding-top: 15px;
  padding-left: 23px;
}
.basement__text2{
  display: flex;
  color: white;
  flex-direction: column;
  row-gap: 15px;
  font-size: 15px;
  font-family: "Abel";
  list-style: none;
  padding: 0%;
  padding-top: 15px;
  padding-left: 20px;
}
.basement__info{
  display: flex;
  color: white;
  flex-direction: row;
  row-gap: 15px;
  font-size: 15px;
  font-family: "Abel";
  list-style: none;
  padding: 0%;
  padding-left: 11px;
  padding-top: 3px;
  line-height: 24px;
}
.basement__info2{
  display: flex;
  color: white;
  flex-direction: row;
  row-gap: 15px;
  font-size: 15px;
  font-family: "Abel";
  list-style: none;
  padding: 0%;
  padding-left: 20px;
  padding-top: 15px;
}
.basement__bottom{
  display: flex;
  width: 100%;
  height: 25px;
  background-color: rgba($color: #1B1D32, $alpha: 0.26);
  flex-direction: row;
  padding: 0;
  margin: 0%;
}
.basement__bottom--list{
  display: flex;
  width: 100%;
  height: 25px;
  flex-direction: row;
  padding: 0;
  margin: 0%;
  justify-content: space-between;
  align-items: center;
  
}
.basement__bottom--text-1{
  display: flex;
  list-style: none;
  color: rgba($color: #fff, $alpha: 0.7);
  font-size: 12px;
  height: auto;
  margin: 0 15px 0 5px;
}
.basement__bottom--text-2{
  display: flex;
  list-style: none;
  color: rgba($color: #fff, $alpha: 1);
  font-size: 11px;
  height: auto;
  text-decoration: underline;
  margin: 0 5px 0 5px;
}